body {
	font-family: "Fira Code", monospace;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f5f5f5;
}

.container {
	width: 80%;
	background: white;
	border-radius: 20px;
	border: 2px solid black;
	padding: 30px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	margin-top: auto;
}

.header {
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding-bottom: 10px;
}

.links {
	display: flex;
	gap: 30px;
	font-size: 20px;
}

.section {
	border-top: 2px solid black;
	padding: 10px 0;
	font-size: 28px;
	font-weight: bold;
}

.experience {
	margin-top: 20px;
}

.job {
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
	gap: 15px;
}

.company {
	display: flex;
	align-items: center;
	gap: 10px;
}

.company-logo {
	width: 50px;
	height: 50px;
}

.job-details {
	flex-grow: 1;
}

.job h4 {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
}

.job p {
	margin: 2px 0;
	font-size: 14px;
}

.job-timeline {
	border-left: 2px solid #ccc;
	padding-left: 15px;
	margin-left: 30px;
}

.projects {
	margin-top: 20px;
}
